@model MobileMekaniko.Models.Dto.AddCustomerDto

<!-- Customer Modal -->
<div class="modal fade" id="CustomerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle"></h1>
                <button type="button" class="btn-close" id="Close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="mb-2">
                    <label asp-for="CustomerName"></label>
                    <input id="CustomerName" asp-for="CustomerName" class="form-control" />
                    <span id="CustomerNameError" class="text-danger"></span>
                </div>
                <div class="mb-2">  
                    <label asp-for="CustomerEmail"></label>
                    <input type="email" id="CustomerEmail" asp-for="CustomerEmail" class="form-control" />
                    <span id="CustomerEmailError" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="CustomerNumber"></label>
                    <input id="CustomerNumber" asp-for="CustomerNumber" class="form-control" />
                    <span id="CustomerNumberError" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">

                @* <button type="button" class="btn btn-secondary" id="Close" data-bs-dismiss="modal">Close</button> *@
                <button type="submit" class="btn btn-primary" onclick="AddCustomer();">Add</button>
            </div>
        </div>
    </div>
</div>